* {
  background: rgb(249, 249, 249);
}

@font-face {
  font-family: 'supplyReg';
  src: url(../fonts/Supply-Regular.otf);
}

@font-face {
  font-family: 'supplyBold';
  src: url(../fonts/Supply-Regular.otf);
}

h1 {
  font-weight: 28px;
  font-family: 'supplyBold';
}

h2 {
  font-weight: 16px;
  font-family: 'supplyBold';
}

p {
  font-weight: 8px;
  font-family: 'supplyReg';
}

/* container starts */
.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0 40px 0;
}

.body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  
}

.plusElement {
  margin: 20% auto 0 auto;
  display: inline-block;
}

.rightElements {
  display: inline-block;
}

.arrowAndText {
  margin: 0 0 10px 0;
  display: grid;
  grid-template-columns: 1fr 4fr;

}

.arrowContainer {
  display: inline-block;
  margin: 0 30px 0 0;
}

.downArrow {
  width: 15px;
  height: 20px;
}

.arrowTxt {
  margin: 0;
  max-width: 600px;
  display: inline-block;
  vertical-align: top;

}

.arrowPointHr {
  border: 2px solid #E0E0E0;
}

.arrowLinkContainer {
  display: inline-block;
}

.arrowLink {
  text-decoration: none;
  display: inline-block;
}

.arrowLinkImg {
  display: inline-block;
}

.arrowLinkContainer:hover .arrowLinkImg {
  animation: 0.4s shiftRight forwards;
}

@keyframes shiftRight {
  0% {
    margin-left: 0px;
  }
  80% {
    margin-left: 10px;
  }
  100% {
    margin-left: 15px;
  }
}

/* container ends */


.bottomBar {
  width: 100%;
  height: 40px;
  margin: 20px 0 0 0;
  background: black;
  bottom: 0;
  position: relative;
}

/* Jobs.js Page */
.jobsBackBtn {
  text-decoration: none;
  border: none;
  font-family: 'supplyReg';
  position: relative;
}

.jobsDesc {
  max-width: 800px;
  margin: 0 auto;
}

/* Error.js Page */
#errorElements {
  margin: 10% 0 0 0;
  text-align: center;
}

#errorIcon {
  margin-bottom: 20px;
  width: 30%;
}

/* Media query */
@media (max-width: 800px) {
  .plusElement { display: none; }
  .us { max-width: 100%; }
  .body { grid: none; }
}