* {
  background: rgb(249, 249, 249);
}

@font-face {
  font-family: 'supplyReg';
  src: url(../fonts/Supply-Regular.otf);
}

@font-face {
  font-family: 'supplyBold';
  src: url(../fonts/Supply-Regular.otf);
}

h1 {
  margin: 0;
  font-weight: 24px;
  font-family: 'supplyBold';
}

h2 {
  font-weight: 18px;
  font-family: 'supplyBold';
}

h3 {
  font-weight: 12px;
  font-family: 'supplyBold';
}

p {
  margin: 0;
  font-size: 12px;
  font-weight: 8px;
  font-family: 'supplyReg';
  display: inline-block;
}

a {
  color: black;
  text-decoration: none;
}

/* container starts */
.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto 200px auto;
  padding: 0 0 40px 0;
}

.body {
  margin: 120px auto 0 auto;
  display: grid;
  align-content: center;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10%;
  
}

.plusElement {
  margin: 0 auto 0 auto;
  display: inline-block;
}

.rightElements {
  margin: 0 auto;
  display: inline-block;
}

/* Down arrow points start */
#abooutW {
  display: block;
}

#aboutM {
  margin-top: 5px;
  display: none;
}

.arrowPoint {
  margin: 30px 0;
  display: grid;
  grid-template-columns: 1fr 7fr;
}

.arrowImg img {
  width: 20px
}

.arrowAndText {
  margin: 0 0 10px 20px;
}

.arrowPointHr {
  border: 2px solid #E0E0E0;
}
/* Down arrow points end */
#joinTitle {
  margin: 20px 0;
}

#join p, div {
  margin: 7px 0;
}

.arrowLinkContainer {
  display: inline-block;
}

.arrowLink {
  text-decoration: none;
  display: inline-block;
}

.arrowLinkImg {
  display: inline-block;
}

.arrowLinkContainer:hover .arrowLinkImg {
  animation: 0.4s shiftRight forwards;
}

@keyframes shiftRight {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 25px;
  }
}

/* container ends */


.bottomBar {
  width: 130%;
  height: 60px;
  margin: -10px 0 0 0;
  background: black;
  bottom: -1;
  position: absolute;
}

/* Jobs.js Page */
#jobsTitle {
  margin: 40px 0 0 0;
  padding: 0;
}

.jobsBackBtn {
  top: 150px;
  text-decoration: none;
  border: none;
  font-family: 'supplyReg';
  position: fixed;
}

.jobsSubTitles {
  margin: 40px 0 20px 0;
}

.jobsDesc {
  max-width: 800px;
  margin: 0 auto;
}

/* Error.js Page */
#errorElements {
  margin: 10% 0 0 0;
  text-align: center;
}

#errorIcon {
  margin-bottom: 20px;
  width: 30%;
}

#jobs {
  display: none;
}

#contact {
  display: none;
}

/* Media query */
@media (max-width: 800px) {
  .plusElement { display: none; }
  #aboutW { display: none }
  #aboutM { display: block }
  .us { max-width: 130%; }
  .body { grid: none; }
  #join { display: none; }
  #jobs { display: block; }
  #contact { display: block; }
}

.inlineContent {
  display: inline-block;
}

@media (max-width: 1200px) {
  .jobsBackBtn { display: none; }
}