/* nav starts */
.brandAndLinks {
  width: 100%;
  background-color: green;
}

.branding {
  margin-top: 60px;
  width: 100%;
  display: flex;
  cursor: pointer;
}

.brandingLogo {
  display: inline-block;
}

.brandingTxt {
  margin-left: 19px;
  display: inline-block;
}

.navLinks {
  margin: 7px 0 0 0;
  position: absolute;
  right: 10%;
}

.navLinks #twtrLink {
  margin-right: 15px;
  font-size: 18px;
  font-family: 'supplyReg';
}

.navLinks #contactLink {
  margin-left: 15px;
  font-size: 18px;
  font-family: 'supplyReg';
}

hr {
  border: 2px solid black;
}

@media (max-width: 600px) {
  .navLinks { display: none; }
}

@media (min-width: 1600px) {
  .navLinks { 
    position: relative;
    left: 780px;
  }
}
/* nav ends */