/* nav starts */
.nav {
  display: block;
  grid-template-columns: repeat(3, 1fr);
}

.branding {
  width: 300px;
  display: flex;
  top: 25px;
  position: relative;
  background: none;
  cursor: pointer;
}

.brandingLogo {
  margin-right: 15px;
  display: inline-block;
}

.brandingTxt {
  display: inline-block;
}

.navLinks {
  margin: 0;
  text-align: right;
}

.navLink {
  color: black;
  font-family: 'supplyReg';
  text-decoration: none;
}

#twtrLink {
  margin: 0 10px 0 0;
  display: inline;
}

#contactLink {
    display: inline;
}

hr {
  border-color: black;
  margin-top: 40px;
}

@media (max-width: 600px) {
  .navLinks { display: none; }
}
/* nav ends */