* {
  background: rgb(249, 249, 249);
}

/* container starts */
.container {
  width: 60%;
  max-width: 900px;
  margin: 0 auto;
}

/* nav starts */
.nav {
  
}

/* nav ends */


.body {
  
}
/* container ends */


.bottomBar {
  
}